# Database
DATABASE_URL="postgresql://campusos:campusos_password@localhost:5432/campusos_db?schema=public"

# Redis Cache & Queue
REDIS_URL="redis://localhost:6379"

# Auth Secrets
JWT_SECRET="campusos_super_secret_jwt_key_32_bytes_min_length_12345"
JWT_REFRESH_SECRET="campusos_super_secret_refresh_key_32_bytes_12345"

# Storage
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadminpassword"
S3_BUCKET="campusos-documents"
S3_REGION="us-east-1"

# Email SMTP (MailHog)
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_FROM="noreply@campusos.edu"

# Environment
NODE_ENV="development"
PORT=3000
